[Unit]
Description=Idler
After=syslog.target network.target

[Service]
ExecStart=/local/idler
RestartSec=5s
Restart=on-success
User=root

[Install]
WantedBy=multi-user.target